    <!-- start Header -->
    <header id="header">
    
      <!-- start Navbar (Header) -->
      <nav class="navbar navbar-primary navbar-fixed-top navbar-sticky-function">

        <div class="navbar-top">
        
          <div class="container">
            
            <div class="flex-row flex-align-middle">
              <div class="flex-shrink flex-columns">
                <a class="navbar-logo" href="index.html">
                  
                  <%= image_tag('front-end/images/logo-white.png') %>
                </a>
              </div>
              <div class="flex-columns">
                <div class="pull-right">
                
                  <div class="navbar-mini">
                    <ul class="clearfix">
                      
                      <li class="dropdown bt-dropdown-click visible-xs">
                        <a id="currncy-language-dropdown" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                          <i class="fa fa-cog"></i>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="language-dropdown">
                          <li><a href="#"><i class="ion-social-usd"></i> Dollar</a></li>
                          <li><a href="#"><i class="ion-social-euro"></i> Europe</a></li>
                          <li><a href="#"><i class="ion-social-yen"></i> Yen</a></li>
                          <li class="divider"></li>
                          <li><a href="#">English</a></li>
                          <li><a href="#">France</a></li>
                          <li><a href="#">Japanese</a></li>
                        </ul>
                      </li>
                      
                      <li class="user-action">
                        <a data-toggle="modal" href="#loginModal" class="btn">Sign up/in</a>
                      </li>

                    </ul>
                  </div>
            
                </div>
              </div>
            </div>

          </div>
          
        </div>
        
        <div class="navbar-bottom hidden-sm hidden-xs">
        
          <div class="container">
          
            <div class="row">
            
              <div class="col-sm-9">
                <div id="navbar" class="collapse navbar-collapse navbar-arrow">
                  <ul class="nav navbar-nav" id="responsive-menu">
                    <li><%= link_to "Home", root_path, 'data-no-turbolink' => true %></li>
                  </ul>
                </div><!--/.nav-collapse -->
              </div>
              
            </div>
            
          </div>
        
        </div>

        <div id="slicknav-mobile"></div>
        
      </nav>
      <!-- end Navbar (Header) -->

    </header>

    <div class="clear"></div>
    
    <!-- start Main Wrapper -->