<div class="page-title" style="background-image:url('<%= asset_path('theme/images/hero-header/breadcrumb.jpg') %>');">
  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3">
        <h1 class="hero-title">หน้าแรก</h1>
      </div>
    </div>
  </div>
</div>
<div class="content-wrapper">
  <div class="container">
    <h1>Admin::Home#index</h1>
    <p>Find me in app/views/admin/home/index.html.erb</p>
  </div>
</div>
