<% if model.errors.any? %>
  <div>
    <h4><%= pluralize(model.errors.count, "error") %></h4>
    <ul>
    <% model.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>